<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>

<body>

<table border=0 cellspacing=0 cellpadding=0>
    <tr>
      <td width="100%" valign=top>
        <div align=center>
        <table border=0 cellspacing=0 cellpadding=0 width=700 >
          <tr>
            <td width=700 valign=top>
              <div align=center>
                <table border=0 cellspacing=0 cellpadding=0 width=70>
                  <tr>
                    <td>
                      <p style="margin-bottom:0cm;margin-bottom:.0001pt;">
                        <span><img src="http://s2.subirimagenes.com/privadas/previo/thump_2179915encabezadoaprobacion.jpg"></span>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border=0 cellspacing=0 cellpadding=0 width=700 style="width:525.0pt;">
                        <tr>
                          <td style="width:300px">
                            <p>
                              <span>
                                <img width=225 height=224 src="http://s2.subirimagenes.com/privadas/previo/thump_2179916aprobacion.jpg">
                              </span>
                            </p>
                          </td>
                          <td>
							<blockquote style="background: #ececec;">
                            <p>
                              <span style="font-size:12pt;font-family:Arial,sans-serif; font-weight:bold">
                                Su superior aprobó su planificación de desempeño. Adjunto al email podrá descargar dicha planificación.
                              </span>
                            </p></blockquote>
                          </td>                          
                        </tr>
                      </table>
                    </td>
                  </tr>
               
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </td>
 </tr>
</table>



</body>

</html>
